# Telegram bot token
BOT_TOKEN=bot_token

# Google Sheets
# Google Cloud'da service account JSON faylining to'liq yo'lini kiriting
GOOGLE_SERVICE_ACCOUNT_JSON=account.json
# Google Sheets jadvalingiz URL'i (share: service account email'iga editor ruxsat bering)
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/your-spreadsheet-id/edit
